<%- include('partials/_header.ejs') %>


<div class="bg-opacity"></div>

    <div class="highscores">
        <a href="/scores/highscores"><i class="fa-solid fa-trophy"></i></a>
    </div>


    <div id="result-heading" class="heading"><b><%= name %></b>, let's see how well you did.</div>

<main class="flex" id ="color-squares">
<!-- display random color -->
        <div id="" class="flex" style="background-color:rgb(<%=rr%>,<%=rg%>,<%=rb%>);">
            <div id="random-result">
                <div class="value-line flex">
                    <label>Hex:</label>
                    <span id="random-hex"><%=rh%></span>
                </div>
                <div class="value-line flex">
                    <label>RGB:</label>
                    <span id="random-rgb">(<%=rr%>, <%=rg%>, <%=rb%>)</span>
                </div>
            </div>
        </div>

        <!-- display guessed color -->
         <div id="" class="flex" style="background-color:rgb(<%=r%>, <%=g%>, <%=b%>);">
            <div id="guessed-result">
                <div class="value-line flex">
                    <label>Hex:</label>
                    <span id="guessed-hex"><%=gh%></span>
                </div>
                <div class="value-line flex">
                    <label>RGB:</label>
                    <span id="guessed-rgb">(<%=r%>, <%=g%>, <%=b%>)</span>
                </div>
            </div>
        </div>
</main>






<div class="result-super-container">
    <div class="result-sub-container">
        <label class="accuracy left">Accuracy:</label>
        <span id="percent"><b><%= accuracy %> %</b></span>
    </div>
</div>

<form>
    <div class="padding-bottom padding-top">
        <button type="submit" id="submit-guess">Play Again</button>
    </div>
</form>


<%- include('partials/_footer.ejs') %>